{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block head_title %}Profile | {{ block.super }}{% endblock %}



{% block jumbotron %}
<div class="jumbotron jumbotron-fluid" id="jumbo">
    <div class="container">
    <div class="row">
    <div class="col-md-6" style="background-color: #e4e5e6;">


        {%  if profile.picture %}
            <img src="{{ profile.picture.url }}"/>
        {% endif %}

    </div>
    <div class="col-md-6">

    </div>
</div>
{% endblock %}

{% block content %}
    {% if user == profile.user %}


    {% endif %}

{% endblock %}