{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block head_title %}Profile | {{ block.super }}{% endblock %}



{% block jumbotron %}
<div class="jumbotron jumbotron-fluid" id="jumbo">
    <div class="container">
    <div class="row">
    <div class="col-md-6" style="background-color: #e4e5e6;">


        {%  if profile.picture %}
            <img src="{{ profile.picture.url }}"/>
        {% endif %}

    </div>
    <div class="col-md-6">
        <h1 class="display-1">{{ profile.user }}</h1><br><br>
        <dl class="row">
          <dt class="col-sm-3">Bank:</dt>
          <dd class="col-sm-9">
              <a href="#"
                  data-toggle="modal"
                  data-target="#myModal"
                  data-toggle="tooltip"
                  data-placement="right"
                  title="Click for further Breakdown">
                    £{{ profile.bank }}
              </a>
          </dd>

          <dt class="col-sm-3">Location:</dt>
          <dd class="col-sm-9">{{ profile.location }}</dd>

          <dt class="col-sm-3">Colour:</dt>
          <dd class="col-sm-9">
              <div style="width:15px;height:15px;border:1px solid #000;display: inline-block;background-color: #{{ profile.colour }};"></div>
              {{ profile.colour }}
          </dd>
        <dl/>

    </div>
    </div>
    </div>
</div>
{% endblock %}

{% block content %}
    {% if user == profile.user %}
    <div class="row">
    <div class="col-md-4">

        <h2 style="margin-bottom: 1.5rem;">
            Update Details
        </h2>
        <form enctype="multipart/form-data" method='POST' action='{% url "profiles:profile" %}'>{% csrf_token %}

            <div id="div_id_location" class="control-group"> <label for="id_location" class="control-label requiredField">
                Location<span class="asteriskField">*</span> </label>
                <div class="controls">
                    <input type="text" name="location" maxlength="120" class="input-xlarge form-control" required id="id_location" style="width: 90%;"/>
                </div>
            </div>

            <div id="div_id_colour" class="control-group">
                <label for="id_colour" class="control-label requiredField">
                Colour
                <span class="asteriskField">*</span>
                </label>
                <div class="controls">

                <input type="text" name="colour" class="jscolor form-control" value="AB2567" maxlength="7" required id="id_colour" style="width: 90%;"/>
                </div>
            </div>

            <div id="div_id_picture" class="control-group">
                <label for="id_picture" class="control-label requiredField">
                Picture
                <span class="asteriskField">*</span>
                </label>
            <div class="custom-file" style="width: 90%;">
              <input name="picture" type="file" class="custom-file-input clearable-file-input" id="id_picture">
              <label class="custom-file-label" for="id_picture" style="margin-top: 0px;overflow: hidden;">Choose file</label>
            </div>
            </div>
            <br>
            <button type="submit" class="btn btn-primary"> Make Changes</button>
        </form>

    </div>
    <div class="col-md-8">
        <h2 style="margin-bottom: 1.5rem;">
            Active Bets
        </h2>
    <div class="span3">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Bet for</th>
              <th scope="col">Match</th>
              <th scope="col">Match Start Date</th>
              <th scope="col">Amount</th>
              <th scope="col">Match Status</th>
            </tr>
          </thead>
          <tbody>
          {%  for bet in qs %}

            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ bet.chosen_team }}</td>
              <td><a href={% url 'userBetting:detail' bet.game.game_id %}>{{ bet.game.team_a }} vs {{ bet.game.team_b }}</a></td>
              <td>{{ bet.game.game_date }}</td>
              <td>{{ bet.amount }}</td>
              <td>{{ bet.game.status }}</td>
            </tr>

          {% endfor %}
          </tbody>
        </table>
    </div>
    </div>
    </div>

    {% endif %}

    <script>$
    // set color field to the current user color
    ("#id_colour").attr("value","{{ profile.colour }}");

    //update file input with filename once selected
    $('.custom-file-input').on('change', function() {
       let fileName = $(this).val().split('\\').pop();
       $(this).next('.custom-file-label').addClass("selected").html(fileName);
    });


    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });

    </script>
    <style>
    img {
        max-height: 98%;
        max-width: 98%;
        width: auto;
        height: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    </style>
{% endblock %}