{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block head_title %}Profile | {{ block.super }}{% endblock %}



{% block jumbotron %}
<div class="jumbotron jumbotron-fluid" id="jumbo">
    <div class="container">
    <div class="row">
    <div class="col-md-12">
        <h1>Profiles List</h1>


    </div>
    </div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="list-group">
{% for profile in model %}
    <a href="{% url 'profiles:profile' profile.username %}" class="list-group-item list-group-item-action">
        {{ profile.username }}
    <a/>
{% endfor %}
</div>

{% endblock %}