{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load mathfilters %}


{% block head_title %}Bets Admin | {{ block.super }}{% endblock %}

{% block extracss %}
    {% load static %}
    <style>
        main {
        background-color: #e9ecef;
    }
    .home-wide {
        margin-top: 2rem;
    }
    body { height:100vh; }
    </style>
{% endblock %}

{% block jumbotron %}

{% endblock %}


{% block content %}
<div class="row" style="margin-bottom: 1.5rem;">
    <div class="col-md-4">
        <a class='btn btn-primary' href="{% url 'community:communitySearch' %}" style="height: 12rem;width: 100%; margin-bottom: 5px;"><p style="font-size: 3rem;white-space: normal;margin-bottom: 0;">Search for Groups<p></p></a>
        <a class='btn btn-outline-info' href="{% url 'community:communityCreate' %}" style="width: 100%;">Create Group</a>
    </div>
    <div class="col-md-8">
         <div class="card" style="border: 1px solid #b5b5b5;height: 100%;">
              <h5 class="card-header" style="background-color: rgba(0, 0, 0, 0.02);"> <span data-toggle="tooltip" data-placement="right" title="Only 4 nearest tournaments displayed">Current Groups</span></h5>
              <div class="card-body" style="padding: 0;">
                <table class="table table-striped header-fixed">
                      <thead>
                        <tr style="border-bottom: 2px solid #dee2e6;">
                          <th scope="col" style="width: 52%; border-bottom: 0;">Group Name</th>
                          <th scope="col" style="width: 16%; border-bottom: 0;">Ranking</th>
                          <th scope="col" style="width: 16%; border-bottom: 0;">Current Bank</th>
                          <th scope="col" style="width: 16%; border-bottom: 0;">Outstanding</th>
                        </tr>
                      </thead>
                      <tbody style="height: auto;">
                      {% for item in wallets %}
                        <tr style="background-color: {% ifequal bet.status bet.paid %}rgba(0,255,0,0.1){% else %}rgba(255,0,0,0.1) {% endifequal %}">
                            <td style="width: 52%;"><a href="{% url "community:communityPage" item.group.community_id %}">{{ item.group.name }}</a></td>
                          <td style="width: 16%;">{{ item.ranking }}</td>
                          <td style="width: 16%;">{{ item.bank }}</td>
                          <td style="width: 16%;">5</td>
                        </tr>
                      {% endfor %}
                      </tbody>
                </table>
              </div>
            <div class="card-footer" style="padding: 0; background-color: rgba(0, 0, 0, 0.02);">
              yes
            </div>
        </div>


    </div>
</div>




    <div class="row">
        <div class="col-md-8">
            <div class="card" style="border: 1px solid #b5b5b5;height: 100%;">
                  <h5 class="card-header" style="background-color: rgba(0, 0, 0, 0.02);"> <span data-toggle="tooltip" data-placement="right" title="Only 4 nearest tournaments displayed">Group Invites</span></h5>
                  <div class="card-body" style="padding: 0;">
                    <table class="table table-striped header-fixed">
                      <thead>
                       <tr style="border-bottom: 2px solid #dee2e6;">
                          <th scope="col" style="width: 54%; border-bottom: 0;">Group Name</th>
                          <th scope="col" style="width: 30%; border-bottom: 0;">Inviter Name</th>
                          <th scope="col" style="width: 16%; border-bottom: 0;"></th>
                        </tr>
                      </thead>
                      <tbody style="height: auto;">
                        {% for item in invites %}
                             <tr style="background-color: {% ifequal bet.status bet.paid %}rgba(0,255,0,0.1){% else %}rgba(255,0,0,0.1) {% endifequal %}">
                              <td style="width: 54%;"><a href="{% url "community:communityPage" item.group.community_id %}">{{ item.group.name }}</a></td>
                              <td style="width: 30%;">{{ item.inviter }}</td>
                              <td style="width: 16%;">
                                  <div style="float: right;">
                                      <form action="{% url 'community:communityHome' %}" method="post">{% csrf_token %}
                                          <input type="hidden" value={{ item.id }} name="wallet_id">

                                          <button
                                                  class="btn"
                                                  name="accept_invite"
                                                  value=True
                                                  style="
                                                    font-size: 82%;
                                                    background-color: #4CAF50;
                                                    color: white;
                                                    font-weight: 500;
                                                    padding: initial;
                                                    width: 25px;
                                                    height: 25px;"
                                                  type="submit"
                                          >
                                            <i class="fas fa-check"></i>
                                          </button>
                                          <button
                                                  class="btn"
                                                  name="accept_invite"
                                                  value=False
                                                  style="
                                                    font-size: 82%;
                                                    background-color: #f44336;
                                                    color: white;
                                                    font-weight: 500;
                                                    padding: initial;
                                                    width: 25px;
                                                    height: 25px;"
                                                  type="submit"

                                          >
                                            <i class="fas fa-times"></i>
                                          </button>
                                      </form>
                                  </div>
                              </td>
                            </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                <div class="card-footer" style="padding: 0; background-color: rgba(0, 0, 0, 0.02);">
                  yes
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="border: 1px solid #b5b5b5;height: 100%;">
                  <h5 class="card-header" style="background-color: rgba(0, 0, 0, 0.02);"> <span data-toggle="tooltip" data-placement="right" title="Only 4 nearest tournaments displayed">Admin Access</span></h5>
                  <div class="card-body" style="padding: 0;">
                    <table class="table table-striped header-fixed">
                      <thead>
                        <tr style="border-bottom: 2px solid #dee2e6;">
                          <th scope="col" style="width: 100%; border-bottom: 0;">Group Name</th>
                        </tr>
                      </thead>
                      <tbody style="height: auto;">
                      {% for item in admin_wallets %}
                        <tr style="background-color: {% ifequal bet.status bet.paid %}rgba(0,255,0,0.1){% else %}rgba(255,0,0,0.1) {% endifequal %}">
                            <td style="width: 52%;"><a href="{% url "community:communityPage" item.group.community_id %}">{{ item.group.name }}</a></td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                <div class="card-footer" style="padding: 0; background-color: rgba(0, 0, 0, 0.02);">
                  yes
                </div>
            </div>
        </div>
    </div>

{% endblock %}