{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load mathfilters %}


{% block head_title %}Bets Admin | {{ block.super }}{% endblock %}

{% block extracss %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'userbetting/style.css' %}" />
    <meta charset="UTF-8">
{% endblock %}

{% block jumbotron %}
    {% include 'community/community_jumbotron.html' with title_pager="Invite Page" %}

    {% include 'community/community_nav.html' %}

{% endblock %}


{% block content %}
<form action="{% url 'community:invitePage' community_id=group.community_id %}" method="post">{% csrf_token %}
<div class="row">
    <div class="col-md-3">
        <input class="form-control" type="text" onkeyup="searchFunction()" placeholder="Search" aria-label="Search" id="nameSearch">
    </div>

    <div class="col-md-9">
        <ul class="list-group" id="myUL">
        {% for profile in model %}
            <li class="list-group-item list-group-item-action"><a href="{% url 'profiles:profile-public' profile.username %}" class="">
                {{ profile.username }}</a>
            <div style="float: right;">
                <button name="profile_id" type="submit" value="{{ profile.id }}" class="btn btn-primary" href="{% url 'userBetting:index' %}" style="font-size: 80%">Invite</button>
            </div>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
</form>
<script>
function searchFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("nameSearch");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>
{% endblock %}

