{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load mathfilters %}


{% block head_title %}Bets Admin | {{ block.super }}{% endblock %}

{% block extracss %}
    {% load static %}
    <style>
        main {
        background-color: #e9ecef;
    }
    .home-wide {
        margin-top: 2rem;
    }
    body { height:100vh; }
    </style>
{% endblock %}

{% block jumbotron %}
    {% include 'community/community_jumbotron.html' with title_pager="" %}

    {% include 'community/community_nav.html' %}
{% endblock %}


{% block content %}


{% endblock %}