{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load mathfilters %}


{% block head_title %}Bets Admin | {{ block.super }}{% endblock %}

{% block extracss %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'community/treeview.css' %}" />
    <style>
        main {
        background-color: #e9ecef;
    }
    .home-wide {
        margin-top: 2rem;
    }
    body { height:100vh; }
    </style>
{% endblock %}

{% block jumbotron %}

{% endblock %}


{% block content %}


<div class="betting-title rounded row" style=" margin-right: 0px; margin-left: 0px;">
    <div class="col-sm-8">
        <h4 class="display-4" style="font-size: 2.3rem;font-weight: 500; margin-bottom: .25rem;">Create Community </h4>
    </div>
    <div class="col-sm-4">

    </div>
</div>

<form style="padding: 2rem;" method='POST' action='{% url "community:communityCreate" %}'>{% csrf_token %}
<div class="row" style="border-bottom: 1px solid #c3c3c3; margin-bottom: 1.25rem;">
    <div class="col-sm-8">
        <p class="font-weight-bold">
            Community Name:
        </p>
        <p class="info">
            Names must be unique and can only contain standard letters and numbers
        </p>
    </div>
    <div class="col-sm-4">
            <div class="form-group" style="position: absolute; top: 50%; transform: translateY(-50%);">
                <input type="text" name="community_name" class="form-control" id="CommunityNameInput" placeholder="Enter Name Here">
            </div>
    </div>
</div>
<div class="row" style="border-bottom: 1px solid #c3c3c3; margin-bottom: 1.25rem;">
    <div class="col-sm-8">
        <p class="font-weight-bold">
            Daily Payout:
        </p>
        <p class="info">
            This is the amount of points member will gain per day.
        </p>
    </div>
    <div class="col-sm-4">
            <div class="form-check" style="position: absolute; top: 50%; transform: translateY(-50%);">
                  <input name="daily_payout" type="number" class="form-control" aria-label="Amount (to the nearest pound)" min="0.01" step="0.01" max="10000" placeholder="5.00" id="daily_payout" required>
            </div>
    </div>
</div>
<div class="row" style="border-bottom: 1px solid #c3c3c3; margin-bottom: 1.25rem;">
    <div class="col-sm-8">
        <p class="font-weight-bold">
            Invite Only:
        </p>
        <p class="info">
            Selecting this requires new members to be invited (cannot join through the group page).
        </p>
    </div>
    <div class="col-sm-4">
            <div class="form-check" style="position: absolute; top: 50%; transform: translateY(-50%);">
              <input class="form-check-input" type="checkbox" name="invite_only" value="True" id="InviteOnlyCheckbox" style="height: 25px; width: 25px;">
            </div>
    </div>
</div>
<div class="row" style="border-bottom: 1px solid #c3c3c3; margin-bottom: 1.25rem;">
    <div class="col-sm-8">
        <p class="font-weight-bold">
            Allow Members to Send Invites:
        </p>
        <p class="info">
            Selecting this allows any member of the group to send invites (If unselected only admins will be able to send invites).
        </p>
    </div>
    <div class="col-sm-4">
            <div class="form-check" style="position: absolute; top: 50%; transform: translateY(-50%);">
              <input class="form-check-input" type="checkbox" name="members_can_invite" value="True" id="MembersCanInviteCheckbox" style="height: 25px; width: 25px;">
            </div>
    </div>
</div>
<div class="row" style="border-bottom: 1px solid #c3c3c3; margin-bottom: 1.25rem;">
    <div class="col-sm-8">
        <p class="font-weight-bold">
            Change group header background colour:
        </p>
        <p class="info">
            This is the background colour behind the group name at the top of the page. By default this is white.
        </p>
    </div>
    <div class="col-sm-4">
            <div id="div_id_colour" class="control-group" style="position: absolute; top: 50%; transform: translateY(-50%);">
                <div class="controls">
                    <input type="text" name="header_background_colour" class="jscolor form-control" value="ffffff" maxlength="7" required id="header_background_colour" style="width: 90%;"/>
                </div>
            </div>
    </div>
</div>
<div class="row" style="border-bottom: 1px solid #c3c3c3; margin-bottom: 1rem;">
    <div class="col-sm-8">
        <p class="font-weight-bold">
            Change group header text colour:
        </p>
        <p class="info">
            This is the text colour of the group name at the top of the page. By default this is black.
        </p>
    </div>
    <div class="col-sm-4">
            <div id="div_id_colour" class="control-group" style="position: absolute; top: 50%; transform: translateY(-50%);">
                <div class="controls">
                    <input type="text" name="header_text_colour" class="jscolor form-control" value="000000" maxlength="7" required id="header_text_colour" style="width: 90%;"/>
                </div>
            </div>
    </div>
</div>
<div class="row">
    <p class="font-weight-bold col-sm-12">
            Follow Tournaments:
    </p>
</div>
<div class="row" style="border-bottom: 1px solid #c3c3c3; margin-bottom: 1rem; padding-bottom: 0.5rem;">

    <div class="nav flex-column nav-pills col-sm-3 card border-dark mb-3" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="padding: 0;">
        {% for videogame in videogame_dict %}
            <a class="nav-link {% ifequal forloop.counter0 0 %} show active {% endifequal %}" style="border-radius: 0; font-weight: 600;" id="v-pills-{{ videogame.videogame }}-tab" data-toggle="pill" href="#v-pills-{{ videogame.videogame }}" role="tab" aria-controls="v-pills-{{ videogame.videogame }}" aria-selected="false">{{ videogame.videogame }}</a>
        {% endfor %}
    </div>
    <div class="tab-content col-sm-9" style="padding: 0;" id="v-pills-tabContent">
        {% for videogame in videogame_dict %}
          <div class="tab-pane fade {% ifequal forloop.counter0 0 %} show active {% endifequal %}" id="v-pills-{{ videogame.videogame }}" role="tabpanel" aria-labelledby="v-pills-{{ videogame.videogame }}-tab">
              <div class="card border-dark mb-3">
                  <ul class="row card-body text-dark" style="list-style: none;">
                    {% for tournament in videogame.tournaments %}
                        <li class="col-sm-6">
                            <input name="tournaments" type="checkbox" value="{{ tournament.tournament_id }}" id="node-{{forloop.counter0}}"/><label for="node-{{ forloop.counter0 }}"> &nbsp {{ tournament.tournament_name }}</label>
                        </li>
                    {% endfor %}
                  </ul>

                <div class="card-footer" style="padding: 0;" >
                    <button class="btn btn-secondary btn-lg btn-block card-footer-btn" style="border-radius: 0 0 3px 3px;">Select all {{ videogame.videogame }} tournaments</button>
                </div>
              </div>
          </div>
        {% endfor %}
    </div>
</div>
<div class="row" style="margin-bottom: 1rem;">
    <div class="col-sm-12" style="text-align: center">
        <button class="btn btn-primary" style="width: 30%; display: inline-block;">Create</button>
    </div>
</div>
</form>
<script>
$(".acidjs-css3-treeview").delegate("label input:checkbox", "change", function() {
    var
        checkbox = $(this),
        nestedList = checkbox.parent().next().next(),
        selectNestedListCheckbox = nestedList.find("label:not([for]) input:checkbox");

    if(checkbox.is(":checked")) {
        return selectNestedListCheckbox.prop("checked", true);
    }
    selectNestedListCheckbox.prop("checked", false);
});
</script>
{% endblock %}