{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load mathfilters %}


{% block head_title %}Bets Admin | {{ block.super }}{% endblock %}

{% block extracss %}
    {% load static %}
    <style>
        main {
        background-color: #e9ecef;
    }
    .home-wide {
        margin-top: 2rem;
    }
    body { height:100vh; }
    </style>
{% endblock %}

{% block jumbotron %}

{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-3">
        <input class="form-control" type="text" onkeyup="searchFunction()" placeholder="Search" aria-label="Search" id="nameSearch">
    </div>

    <div class="col-md-9">
        <ul class="list-group" id="myUL">
        {% for group in model %}
            <li class="list-group-item list-group-item-action"><a href="#" class="">
                {{ group.name }}</a>
            <div style="float: right;">
                <button class="btn btn-primary" href="{% url 'userBetting:index' %}" style="font-size: 80%">Invite</button>
            </div>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>

<script>
function searchFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("nameSearch");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>

{% endblock %}