{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load mathfilters %}


{% block head_title %}Bets Admin | {{ block.super }}{% endblock %}


{% block jumbotron %}
<div class="jumbotron" style="padding-bottom: 30px;">
    <div class="container home-wide">
        <div class="row" style="border-bottom: 2px solid #c3c3c3; margin-bottom: 15px;">
            <div class="col-md-12">
                <p class='display-4 text-align-left' style="margin-bottom: 0;">Testing </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <p>{{ match_data }}</p>
        </div>

    </div>

{% endblock %}