body {
  padding-top: 57px;
}

.text-align-center {
	text-align: center;
}
.thumbnail .widget {
    background-color: #fff7ec;
}
.navbar
        {
            border-bottom:1px solid #000;
        }
/*.bg-light {*/
    /*background-color: #5b728a !important;*/
/*}*/
label{
    margin-bottom: 0px;
    margin-top: .5rem;
}
.span3 {
    height: 300px !important;
    overflow: auto;
}
.strokeme
{
    color: white !important;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.whitetext{

}
/*.nav-link .active{*/
    /*color: lightgrey !important;*/
/*}*/
/*.nav-link{*/
    /*color: white !important;*/
/*}*/


/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 57px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}
.sidenav-divider {
    background-color: #cecdcd;
    height: 1px;
    margin-left: 10px;
    margin-right: 10px;
}
.bg-faded{
    background-color: #5f5d5d;
    border-right: 1px solid #505050;
}
a {
    color:black;
}
.nav-item .nav-link {
    color: white;
}