{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load mathfilters %}


{% block head_title %}Betting | {{ block.super }}{% endblock %}


<style>
{% block style %}
.navbar-static-top {
	margin-bottom: 0px !important;
}
.jumbotron {
	background-color:#e7e7e7;
	color: #000000;
    width: 100%;
}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}
img {
    max-height: 50%;
    max-width: 50%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: auto;
}
.col-md-3 h3 {
    position: relative;
    top: 72%;
    transform: translateY(-50%);
    text-align: center;
}
{% endblock %}
</style>


{% block extracss %}
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'userbetting/style.css' %}" />
    <meta charset="UTF-8">
{% endblock %}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid" id="jumbo">
    <div class="container fullWidth">
    <div class="row fullWidth">
        <div class="col-md-3">
            <img src="{{ game.team_a.picture.url }}">
            <h3 id="team_a_info">50%</h3>
        </div>
        <div class="col-md-6">
            <div class="widget">
                <div id="chart" class="chart-container"></div>
            </div>
        </div>
        <div class="col-md-3">
            <img src="{{ game.team_b.picture.url }}">
            <h3 id="team_b_info">50%</h3>
        </div>
</div>
</div>
</div>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
<script src="{% static 'userbetting/pie.js' %}"></script>

<script>
{#pie chart stuff#}
var color = d3.scale.ordinal()
    .range(["#222222", "#404B69", "#FF7100", "#BE3030", "#F3ECC8"]);

// Create bet data for this game
var dataset = [
        {% for bet in game.bet_set.all %}
            {
            name:'{{ bet.user }}',
            amount:{{ bet.amount }},
            percent: {{ bet.amount|div:total_bet|mul:100 }},
            team:'{{ bet.chosen_team }}',
            colour:'{{ bet.user.profile.colour }}'
            },
        {% endfor %}
];

// Group the bet data by user and team
var grouped = [];

dataset.forEach(function (a) {
    if (!this[a.name + a.team]) {
        this[a.name + a.team] = { name: a.name, amount: '0', percent: '0', team:a.team, colour:a.colour };
        grouped.push(this[a.name + a.team]);
    }
    this[a.name + a.team].amount = (+this[a.name + a.team].amount + +a['amount']);
    this[a.name + a.team].percent = (+this[a.name + a.team].percent + +a['percent']);

}, Object.create(null));


// Create the team data
var teamdata_a_amount = 0;
var teamdata_b_amount = 0;
var teamdata_a_percent = 0;
var teamdata_b_percent = 0;

for (i in grouped){
   if (grouped[i].team=='{{ game.team_a }}') {
       teamdata_a_amount += grouped[i].amount;
       teamdata_a_percent += grouped[i].percent;
   }
   else if(grouped[i].team=='{{ game.team_b }}'){
       teamdata_b_amount += grouped[i].amount;
       teamdata_b_percent += grouped[i].percent;
   }

};

var team_dataset = [{
            name:'{{ game.team_a }}',
            amount:teamdata_a_amount,
            percent: teamdata_a_percent,
            team:'{{ game.team_a }}',
            colour:'{{ game.team_a.colour }}'
            },
            {
            name:'{{ game.team_b }}',
            amount:teamdata_b_amount,
            percent: teamdata_b_percent,
            team:'{{ game.team_b }}',
            colour:'{{ game.team_b.colour }}'
            }];

console.log(team_dataset);
// Create some placeholder data in the event no one bets
if (grouped === undefined || grouped.length == 0){
    grouped.push(
        {
            name:'{{ user }}',
            amount:0,
            percent: 50,
            team:'{{ game.team_a }}',
            colour:'D3D3D3'
            },
            {
            name:'{{ user }}',
            amount:0,
            percent: 50,
            team:'{{ game.team_b }}',
            colour:'D3D3D3'
            }
            );
    team_dataset= [
        {
            name:'{{ game.team_b }}',
            amount:0,
            percent: 50,
            team:'{{ game.team_b }}',
            colour:'{{ game.team_b.colour }}'
            },
            {
            name:'{{ game.team_a }}',
            amount:0,
            percent: 50,
            team:'{{ game.team_a }}',
            colour:'{{ game.team_a.colour }}'
            }
            ];
};

var indexTeamA = _.where(team_dataset, {team:"{{ game.team_a }}"});
var indexTeamB = _.where(team_dataset, {team:"{{ game.team_b }}"});

$("#team_a_info").html(indexTeamA[0].percent.toFixed(2) + "%");
$("#team_b_info").html(indexTeamB[0].percent.toFixed(2) + "%");

var totalamount = {{ total_bet }};

InitialPie(grouped,totalamount,team_dataset);

</script>



<script>

{# Websocket stuff#}
var gameId = {{ game.game_id }};

function onOpen (evt) {
    console.log("connected to websocket!");
};
function onMessage (evt) {
    var data = JSON.parse(evt.data);

    var message = JSON.parse(data['message']);
    var message_grouped =[];

    message.forEach(function (a) {
    if (!this[a.name + a.team]) {
        this[a.name + a.team] = { name: a.name, amount: '0', percent: '0', team:a.team, colour:a.colour };
        message_grouped.push(this[a.name + a.team]);
    }
    this[a.name + a.team].amount = (+this[a.name + a.team].amount + +a['amount']);
    this[a.name + a.team].percent = (+this[a.name + a.team].percent + +a['percent']);

    }, Object.create(null));

    // Create the team data
    var teamdata_a_amount = 0;
    var teamdata_b_amount = 0;
    var teamdata_a_percent = 0;
    var teamdata_b_percent = 0;

    for (i in message_grouped){
       if (message_grouped[i].team=='{{ game.team_a }}') {
           teamdata_a_amount += message_grouped[i].amount;
           teamdata_a_percent += message_grouped[i].percent;
       }
       else if(message_grouped[i].team=='{{ game.team_b }}'){
           teamdata_b_amount += message_grouped[i].amount;
           teamdata_b_percent += message_grouped[i].percent;
       }
    };

    var message_team_dataset = [{
                name:'{{ game.team_a }}',
                amount:teamdata_a_amount,
                percent: teamdata_a_percent,
                team:'{{ game.team_a }}',
                colour:'{{ game.team_a.colour }}'
                },
                {
                name:'{{ game.team_b }}',
                amount:teamdata_b_amount,
                percent: teamdata_b_percent,
                team:'{{ game.team_b }}',
                colour:'{{ game.team_b.colour }}'
                }];


    console.log(message_grouped);
    console.log(message_team_dataset);

    var total_bet = Number(data['total_bet']);

    change(message_grouped,total_bet, message_team_dataset);
};
function onClose (evt) {
    console.log("Closed websocket!");
};

var dataSocket = new WebSocket(
'ws://' + window.location.host +
'/ws/betting/' + gameId + '/');




dataSocket.onopen = function (evt) { onOpen(evt) };
dataSocket.onmessage = function (evt) { onMessage(evt) };
dataSocket.onclose = function (evt) { onClose(evt) };

</script>




{% endblock %}

{% block content %}

    <h1>{{ game.team_a }} vs {{ game.team_b }} <small>{{ game.game_date|date:"d-F Y H:i" }}</small></h1>


    <form>
        <div class="form-group">
            <label for="teamSelect">Team</label>
            <select class="form-control" id="teamSelect">
              <option>{{ game.team_a }}</option>
              <option>{{ game.team_b }}</option>
            </select>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">£</span>
          </div>
          <input type="number" class="form-control" aria-label="Amount (to the nearest pound)" min="0.01" step="0.01" max="2500" placeholder="5.00" id="amountBid">
          <div class="input-group-append">
            <span class="input-group-text">.00</span>
          </div>
        </div>
        <button type="button" id="update">Submit</button>
    </form>

    <br>
    <br>
    <br>
        {{ total_bet }}

    <ul>
    {% for bet in game.bet_set.all %}
        <li>{{ bet.user }} -- {{ bet.chosen_team }} for £{{ bet.amount }}</li>
    {% endfor %}
    </ul>

    {% for bet in game.bet_set.all %}{ name:'{{ bet.user }}', amount:{{ bet.amount }}, percent: {{ bet.amount|div:total_bet|mul:100 }}, team:'{{ bet.chosen_team }}' },
    {% endfor %}


    <script>


    $("#update").click(function (e) {
        var teamInput = document.querySelector('#teamSelect');
        var chosenTeam = teamInput.value;

        var bidInput = document.querySelector('#amountBid');
        var amountBid = bidInput.value;

        dataSocket.send(JSON.stringify({
            'chosenTeam': chosenTeam,
            'amountBid': amountBid
        }));

        console.log(chosenTeam);
        console.log(amountBid);
    });
    </script>
{% endblock %}