{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load mathfilters %}


{% block head_title %}Betting | {{ block.super }}{% endblock %}


<style>
{% block style %}
.navbar-static-top {
	margin-bottom: 0px !important;
}
.jumbotron {
	background-color:#f6f6f6;
	color: #000000;
}
{% endblock %}
</style>


{% block extracss %}
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'userbetting/style.css' %}" />
    <meta charset="UTF-8">
{% endblock %}

{% block jumbotron %}
<div class="jumbotron">
    <div class="container">
    <div class="row">
    <div class="col-md-8 col-md-offset-1">
        <div class="widget">
            <div id="chart" class="chart-container"></div>
        </div>
    </div>

</div>
</div>
</div>
<button id="update">Update</button>
<script src="http://d3js.org/d3.v3.min.js"></script>

<script>

function onOpen (evt) {
    console.log("connected to websocket!");
};
function onMessage (evt) {
    console.log("connected to websocket!");
};

var dataSocket = new WebSocket(
'ws://' + window.location.host +
'/ws/betting/' + {{ game.game_id }} + '/');


dataSocket.onopen = function (evt) { onOpen(evt) };
dataSocket.onmessage = function (evt) { onMessage(evt) };

var color = d3.scale.ordinal()
    .range(["#222222", "#404B69", "#FF7100", "#BE3030", "#F3ECC8"]);

var dataset = [
        {% for bet in game.bet_set.all %}
            {
            name:'{{ bet.user }}',
            amount:{{ bet.amount }},
            percent: {{ bet.amount|div:total_bet|mul:100 }},
            team:'{{ bet.chosen_team }}'
            },
        {% endfor %}
];

var totalamount = {{ total_bet }};
</script>

<script src="{% static 'userbetting/pie.js' %}"></script>


{% endblock %}

{% block content %}

    <h1>{{ game.team_a }} vs {{ game.team_b }} <small>{{ game.game_date|date:"d-F Y H:i" }}</small></h1>

    {{ total_bet }}

<ul>
{% for bet in game.bet_set.all %}
    <li>{{ bet.user }} -- {{ bet.chosen_team }} for £{{ bet.amount }}</li>
{% endfor %}
</ul>

{% for bet in game.bet_set.all %}{ name:'{{ bet.user }}', amount:{{ bet.amount }}, percent: {{ bet.amount|div:total_bet|mul:100 }}, team:'{{ bet.chosen_team }}' },
{% endfor %}

{% endblock %}