{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load mathfilters %}


{% block head_title %}Betting | {{ block.super }}{% endblock %}


<style>
{% block style %}
.navbar-static-top {
	margin-bottom: 0px !important;
}
.jumbotron {
	background-color:#f6f6f6;
	color: #000000;
}
{% endblock %}
</style>


{% block extracss %}
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'userbetting/style.css' %}" />
    <meta charset="UTF-8">
{% endblock %}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid" id="jumbo">
    <div class="container">
    <div class="row">
    <div class="col-md-12">
        <div class="widget">
            <div id="chart" class="chart-container"></div>
        </div>
    </div>

</div>
</div>
</div>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
<script src="{% static 'userbetting/pie.js' %}"></script>

<script>
{#pie chart stuff#}
var color = d3.scale.ordinal()
    .range(["#222222", "#404B69", "#FF7100", "#BE3030", "#F3ECC8"]);

var dataset = [
        {% for bet in game.bet_set.all %}
            {
            name:'{{ bet.user }}',
            amount:{{ bet.amount }},
            percent: {{ bet.amount|div:total_bet|mul:100 }},
            team:'{{ bet.chosen_team }}'
            },
        {% endfor %}
];
var grouped = [];

dataset.forEach(function (a) {
    if (!this[a.name + a.team]) {
        this[a.name + a.team] = { name: a.name, amount: '0', percent: '0', team:a.team };
        grouped.push(this[a.name + a.team]);
    }
    this[a.name + a.team].amount = (+this[a.name + a.team].amount + +a['amount']);
    this[a.name + a.team].percent = (+this[a.name + a.team].percent + +a['percent']);

}, Object.create(null));


console.log(dataset);
console.log(grouped);

var totalamount = {{ total_bet }};

InitialPie(grouped,totalamount);

</script>



<script>

{# Websocket stuff#}
var gameId = {{ game.game_id }};

function onOpen (evt) {
    console.log("connected to websocket!");
};
function onMessage (evt) {
    var data = JSON.parse(evt.data);

    var message = JSON.parse(data['message']);
    var message_grouped =[];

    message.forEach(function (a) {
    if (!this[a.name + a.team]) {
        this[a.name + a.team] = { name: a.name, amount: '0', percent: '0', team:a.team };
        message_grouped.push(this[a.name + a.team]);
    }
    this[a.name + a.team].amount = (+this[a.name + a.team].amount + +a['amount']);
    this[a.name + a.team].percent = (+this[a.name + a.team].percent + +a['percent']);

    }, Object.create(null));

    console.log(message);
    console.log(message_grouped);

    var total_bet = Number(data['total_bet']);

    change(message_grouped,total_bet);
};
function onClose (evt) {
    console.log("Closed websocket!");
};

var dataSocket = new WebSocket(
'ws://' + window.location.host +
'/ws/betting/' + gameId + '/');




dataSocket.onopen = function (evt) { onOpen(evt) };
dataSocket.onmessage = function (evt) { onMessage(evt) };
dataSocket.onclose = function (evt) { onClose(evt) };

</script>




{% endblock %}

{% block content %}

    <h1>{{ game.team_a }} vs {{ game.team_b }} <small>{{ game.game_date|date:"d-F Y H:i" }}</small></h1>


    <form>
        <div class="form-group">
            <label for="teamSelect">Team</label>
            <select class="form-control" id="teamSelect">
              <option>{{ game.team_a }}</option>
              <option>{{ game.team_b }}</option>
            </select>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">£</span>
          </div>
          <input type="number" class="form-control" aria-label="Amount (to the nearest pound)" min="0.01" step="0.01" max="2500" placeholder="5.00" id="amountBid">
          <div class="input-group-append">
            <span class="input-group-text">.00</span>
          </div>
        </div>
        <button type="button" id="update">Submit</button>
    </form>

    <br>
    <br>
    <br>
        {{ total_bet }}

    <ul>
    {% for bet in game.bet_set.all %}
        <li>{{ bet.user }} -- {{ bet.chosen_team }} for £{{ bet.amount }}</li>
    {% endfor %}
    </ul>

    {% for bet in game.bet_set.all %}{ name:'{{ bet.user }}', amount:{{ bet.amount }}, percent: {{ bet.amount|div:total_bet|mul:100 }}, team:'{{ bet.chosen_team }}' },
    {% endfor %}


    <script>


    $("#update").click(function (e) {
        var teamInput = document.querySelector('#teamSelect');
        var chosenTeam = teamInput.value;

        var bidInput = document.querySelector('#amountBid');
        var amountBid = bidInput.value;

        dataSocket.send(JSON.stringify({
            'chosenTeam': chosenTeam,
            'amountBid': amountBid
        }));

        console.log(chosenTeam);
        console.log(amountBid);
    });
    </script>
{% endblock %}