{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load mathfilters %}


{% block head_title %}Betting | {{ block.super }}{% endblock %}

<style>
{% block style %}

.thumbnail{
    height: 95%;
    width: 100%;
}
svg {
	display: block;
    margin: auto;
}
{% endblock %}
</style>

{% block extracss %}
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'userbetting/style.css' %}" />
    <meta charset="UTF-8">
    <script src="{% static 'userbetting/miniPie.js' %}"></script>
{% endblock %}

{% block jumbotron %}
<div class="jumbotron" style="padding-bottom: 30px;">
    <div class="container home-wide">
        <div class="row" style="border-bottom: 2px solid #c3c3c3; margin-bottom: 15px;">
            <div class="col-md-12">
                <p class='display-3 text-align-left' style="margin-bottom: 0;">{{ tournament.tournament_name }} </p>
            </div>
        </div>
    </div>
</div>

{#airplane#}
<script src="{% static 'js/d3.js' %}"></script>

    
{#<script src="http://d3js.org/d3.v3.min.js"></script>#}


{% endblock %}

{% block content %}
    <h4 class="display-4 betting-title rounded align-content-center">Tournament Details</h4>
    <br>

    <dl class="row">
        <dt class="col-sm-2">Tournament Start Date:</dt>
        <dd class="col-sm-10">{{ tournament.tournament_start_date }}</dd>

        <dt class="col-sm-2">Tournament End Date:</dt>
        <dd class="col-sm-10">{{ tournament.tournament_end_date }}</dd>

        <dt class="col-sm-2">Main Twitch URL:</dt>
        <dd class="col-sm-10">{{ tournament.main_twitch_url }}</dd>

        <dt class="col-sm-2">Status:</dt>
        <dd class="col-sm-10">{{ tournament.status }}</dd>
    </dl>
    {% if games_qs %}
        <h4 class="display-4 betting-title rounded">Tournament Games</h4>
        <br>
        <div id="products" class="row grid-view">
            {% for game in games_qs %}
            <div class="item col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                <div class="thumbnail">
                    <div class="widget" style="padding-top: 10px; padding-bottom: 10px;">
                        <div id="chart{{ forloop.counter }}" class="chart-container"></div>
                    </div>
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading" style="margin-top: 0.5rem;"><a href="{% url 'userBetting:detail' game.game_id %}">
                            {{ game.team_a }} vs {{ game.team_b }}</a></h4>


                            <p class="group inner list-group-item-text" style="margin-top: 5px">
                        {{ game.game_date|date:"d-F Y H:i" }}
                            </p>

                        <div class="row">

                            <div class="col-xs-12 col-md-12">
                                <p class="lead font-weight-bold" style="color:green;">
                                    {{ game.status }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
            // Create the team data
            var dataset = [
            {% for bet in game.game_bets.all %}
                {
                name:'{{ bet.user }}',
                amount:{{ bet.amount }},
                percent: 50,
                team:'{{ bet.chosen_team }}',
                colour:'#{{ bet.user.profile.colour }}'
                },
            {% endfor %}
            ];

            var teamdata_a_amount = 0;
            var teamdata_b_amount = 0;

            if (dataset === undefined || dataset.length == 0){
                teamdata_a_amount = 1;
                teamdata_b_amount = 1;
            }
            else{
                for (i in dataset){
                   if (dataset[i].team=='{{ game.team_a }}') {
                       teamdata_a_amount += dataset[i].amount;
                   }
                   else if(dataset[i].team=='{{ game.team_b }}'){
                       teamdata_b_amount += dataset[i].amount;
                   }
                };
            };

            var total_ab_amount = teamdata_a_amount + teamdata_b_amount;
            var teamdata_a_percent = (teamdata_a_amount / total_ab_amount) * 100;
            var teamdata_b_percent = (teamdata_b_amount / total_ab_amount) * 100;

            var team_dataset = [
                {
                name:'{{ game.team_b }}',
                amount:teamdata_b_amount,
                percent: teamdata_b_percent,
                team:'{{ game.team_b }}',
                colour:'#{{ game.team_b.colour }}'
            },
            {
                name:'{{ game.team_a }}',
                amount:teamdata_a_amount,
                percent: teamdata_a_percent,
                team:'{{ game.team_a }}',
                colour:'#{{ game.team_a.colour }}'
                }];

            InitialPie(team_dataset, {{ forloop.counter }});


            </script>
            {% endfor %}
        </div>
    {% else %}
        <p>No games are available at this time.</p>
    {% endif %}

<style>

.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-color: #fff;
    border: 1px solid #b5b5b5;
}
.thumbnail img{
    max-width: 100%;
}
.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}


.item.list-group-item img
{
    float: left;
}

.list-group-item-text
{
    margin: 0 0 11px;
}
.caption{
    padding: 8px;
}

</style>

{% endblock %}