{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block head_title %}Transparent Betting{% endblock %}</title>

    {% include 'head_css.html' %}

      <style>
      {% block style %}{% endblock %}
      </style>
    {% block extracss %} {% endblock %}


  </head>

  <body>
  {% include 'navbar.html' %}
  {% include 'bank_modal.html' %}
<div class="container-fluid">
    <div class="row">
        {%  include 'sidebar.html' %}
<main class="col-sm-11 offset-sm-1 col-md-11 offset-md-1" style="padding-left: 0; padding-right: 0; font-size: 80%;">

    {% block jumbotron %}

    {% endblock %}

<div class="container home-wide" style="padding-top: 15px">

        {% block content %}

        {% endblock %}
</div>
</main>

</div>
    </div> <!-- /container -->

    {% include "javascript.html" %}


  </body>
</html>