{% load static %}
{% url 'home' as home %}
{% url 'userBetting:index' as betting_index %}
{% url 'profiles:profile-list' as profile_list %}
{% url 'profiles:profile' as profile %}

   <!-- Static navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" style="z-index:1; ">
      <a class="navbar-brand strokeme" href="#">eSports Betting</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                  <li class="nav-item {% ifequal  request.get_full_path home %} active {% endifequal %}">
                    <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item {% ifequal  request.get_full_path betting_index %} active {% endifequal %}">
                    <a class="nav-link" href="{% url 'userBetting:index' %}">Betting Page</a>
                  </li>
                  <li class="nav-item {% ifequal  request.get_full_path profile %} active {% endifequal %}">
                    <a class="nav-link" href="{% url 'profiles:profile' %}">Dashboard</a>
                  </li>
                  <li class="nav-item {% ifequal  request.get_full_path profile_list %} active {% endifequal %}">
                    <a class="nav-link" href="{% url 'profiles:profile-list' %}">Users</a>
                  </li>
            </ul>
            <ul class="navbar-nav ml-auto" style="margin-right: 20px;">
                  <li class="nav-link">
                    <i class="fas fa-envelope" s style="font-size: 20px;"></i>
                  </li>
                  <li class="nav-link">
                    <i class="fab fa-facebook-f" s style="font-size: 20px;"></i>
                  </li>
                  <li class="nav-link">
                    <i class="fab fa-discord" s style="font-size: 20px;"></i>
                  </li>
                  <li class="nav-link">
                    <i class="fab fa-twitter" s style="font-size: 20px;"></i>
                  </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0 navbar-nav" method='POST' action='{% url "auth_login" %}'>{% csrf_token %}

                {% if not request.user.is_authenticated and not "/accounts/login" in request.get_full_path %}
                    <div class='form-group' style="margin-right: 3px;">
                        <input type='text' class='form-control' name='username' placeholder='Username' />
                    </div>
                    <div class='form-group' style="margin-right: 3px;">
                        <input type='password' class='form-control' name='password' placeholder='Password' />
                    </div>
                    <button type='submit' class='btn btn-default'>Login</button>
                {% else %}
                    <a class="nav-link" href="{% url 'auth_logout' %}">logout</a>
                {% endif %}

            </form>
      </div>
</nav>