{% load static %}
{% url 'userBetting:index' as index %}

 <nav class="col-sm-1 col-md-1 d-none d-sm-block bg-faded sidebar">
          <ul class="nav nav-pills flex-column">
          {% if user.is_authenticated %}
            <li class="sidenav-divider">
            </li>
            <li class="nav-item">
                <p class="nav-link" style="margin-bottom: 0;">Groups</p>
            </li>
            <li class="sidenav-divider">
            </li>


          {% for navgroup in request.user.profile.groups.all %}
            <li class="nav-item">
                <a href="#pageSubmenu{{ forloop.counter }}" data-toggle="collapse" aria-expanded="false" class="nav-link dropdown-toggle">{{ navgroup.name }}</a>
                <ul style="background-color: grey;" class="collapse list-unstyled" id="pageSubmenu{{ forloop.counter }}">
                    <li class="nav-item">
                      <a class="nav-link{% ifequal query 'None' %} active {% endifequal %}" href="{% url 'community:communityPage' community_id=navgroup.community_id %}">All Games<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link {% ifequal query 'SC2'%} active {%  endifequal %}" href="{% url 'community:communityPage' community_id=navgroup.community_id %}?q=SC2">Starcraft 2</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link {% ifequal query 'CSGO'%} active {%  endifequal %}" href="{% url 'community:communityPage' community_id=navgroup.community_id %}?q=CSGO">CS:GO</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link {% ifequal query 'Dota'%} active {%  endifequal %}" href="{% url 'community:communityPage' community_id=navgroup.community_id %}?q=Dota">Dota 2</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link {% ifequal query 'LOL'%} active {%  endifequal %}" href="{% url 'community:communityPage' community_id=navgroup.community_id %}?q=LOL">Lol</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link {% ifequal query 'Overwatch'%} active {%  endifequal %}" href="{% url 'community:communityPage' community_id=navgroup.community_id %}?q=Overwatch">Overwatch</a>
                    </li>
                </ul>
            </li>
          {% endfor %}
          {% endif %}

          </ul>
     {% if request.user.is_authenticated %}
     <ul class="nav nav-pills flex-column mt-2 mt-md-0" style="position: absolute; bottom: 0; width: 100%; text-align: center;">
        <li class="sidenav-divider">
        </li>
        <li class="nav-item">
            <p class="nav-link" style="margin-bottom: 0; padding-bottom: 0;" >  Current bank: </p>
            <p class="nav-link" style="color:white; font-size: 20px; padding-top: 0;font-weight: 500;margin-bottom: 0;">
                <a href="#"
                   class="nav-link"
                   style="padding: 0;font-size: 85%;"
                   data-toggle="modal"
                   data-target="#myModal"
                   data-toggle="tooltip"
                   data-placement="right"
                   title="Click for further Breakdown">£
                </a>
            </p>
        </li>
        <li class="sidenav-divider" style="margin-bottom: 5px;" >
        </li>
         <div class="form-row text-center">
            <div class="col-12">
                <button type="submit" class="btn btn-dark" style="width: 90%;">Add funds</button>
            </div>
         </div>
     </ul>

     {%  endif %}
        </nav>

